body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0000);
  overflow: hidden;
}

a {
  cursor: pointer;
  color: #ffffff;
}

a:hover {
  color: #FFBC9E;
}

a:active,
a:focus {
  color: #FFBC9E;
}

/*a:focus {
  color: #e84d37;
}*/
/*Стили для кнопок*/
.button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font: inherit;
}

/*.button:hover {
  background-color: #f17c64;
}

.button:active {
  background-color: #db5238;
}*/
/*Стили для шапки сайта*/
/*Центровщик*/
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  /*Временно для сетки*/
  outline: 1px solid red;
}

.main-header {
  /*Временно для сетки*/
  outline: 2px solid black;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  /*Временно для сетки*/
  outline: 2px solid white;
}

.main-navigation-wrapper {
  display: flex;
  /*Временно для сетки*/
  outline: 2px solid yellow;
}

.main-header-logo {
  width: 154px;
  height: 64;
  margin: 0;
  margin-right: 10px;
  /*Временно для сетки*/
  outline: 2px solid #A94000;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-width: 415px;
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.site-navigation li {
  padding: 0;
  margin: 0;
  /*outline: 1px solid green;*/
}

.site-navigation li,
.user-navigation li {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a {
  /*padding: 7px 14px;*/
  /*margin: 7px 14px;*/
  padding: 0 14px;
  text-decoration: none;
  border-bottom: 1px solid #A1B5A9;
  /*outline: 1px solid yellow;*/
}

.site-navigation a:hover {
  /*width: 100%;*/
  height: 32px;
  padding: 7px 14px;
  border-radius: 20px;
  color: #323232;
  text-decoration: none;
  background-color: #F7F6F3;
}

.site-navigation a:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: 0 -2px 2px -1px #696969;
  border-radius: 20px;
}

/*.site-navigation a:focus {
  color: #ffffff;
  background-color: #d07058;
  border-radius: 20px;
}*/
.catalog-items-list {
  position: relative;
  padding: 0;
  margin: 0;
}

.new-products {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: -5px;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  width: 144px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  background-color: #F8F7F4;
  border-radius: 5px;
  display: none;
  /*outline: 1px solid black;*/
}

.new-products a,
.new-products li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #323232;
}

.new-products li {
  width: 144px;
  height: 30px;
  /*flex-grow: 1;*/
  /*min-width: 145px;
  min-height: 30px;
  /*min-width: 105px;*/
  /*padding: 8px 20px;*/
}

.new-products a {
  display: block;
  padding: 0;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  width: 125px;
  height: 16px;
  border-bottom: none;
  /*outline: 1px solid red;*/
}

.new-products li:first-child {
  position: relative;
  width: 124px;
  padding-top: 12px;
  /*padding-bottom: 15px;*/
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  /*outline: 1px solid black;*/
}

/*.new-products li:first-child:hover {
  background-color: #F8F7F4;
  border-radius: 5px;
}*/
.new-products-heading::after {
  position: absolute;
  content: "";
  top: 42px;
  left: 5px;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.new-products a:hover {
  background-color: #FBDED7;
  color: #323232;
  border-radius: 0;
  padding: 0;
  margin: 0;
  width: 124px;
  height: 16px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.new-products a:active {
  color: #323232;
  background-color: #f6b5a5;
  box-shadow: none;
}

/*.new-products a:focus {
  color: #ffffff;
  background-color: #d07058;
}*/
.catalog-items-list:hover>.new-products {
  display: block;
  /*opacity: 1;*/
}

.user-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 22px;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  /*Временно для сетки*/
  outline: 2px solid white;
}

.search-form,
.login-form {
  border-radius: 5px;
}

.search-link {
  padding: 8px;
  border-radius: 50%;
}

.search-link:hover path {
  fill: #323232;
}

.search-link:hover {
  background-color: #F8F7F4;
}

/*.search-link::before {
  content: "";
  position: absolute;
  right: 8px;
  top: 9px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/
.cart-link,
.login-link {
  margin-left: 10px;
  padding: 8px 15px 8px 45px;
  border-radius: 25px;
}

.search-link,
.login-link,
.cart-link {
  position: relative;
}

.search-form {
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 310px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-form input {
  box-sizing: border-box;
  min-width: 310px;
  padding: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  height: 44px;
}

.login-form {
  position: absolute;
  z-index: 1;
  right: 205px;
  top: 50px;
  background-color: #f8f7f4;
  padding: 0 20px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  /*display: none;*/
}

.login-form-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.login-form .button {
  height: 45px;
  padding: 0 25px;
  font: inherit;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.login-form .button:hover {
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  box-shadow: 0 2px 0 0 #ac1000;
  opacity: 0.8;
}

.login-form .button:active {
  background-image: linear-gradient(to right top, #f26843, #e74a35);
  box-shadow: inset 0 -2px 0 0 #942718;
  opacity: 0.07;
}

.login-password-info {
  display: flex;
  flex-direction: column;
  order: 1;
}

.user-navigation .login-password-info a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
  text-decoration: none;
  background: none;
  border-bottom: 1px solid #B2B2B2;
  padding: 0;
  margin: 0;
}

.login-form input {
  box-sizing: border-box;
  min-width: 240px;
  height: 44px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-link::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 8px;
  width: 21px;
  height: 19px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 8px;
  width: 21px;
  height: 20px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hours-and-telephone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  width: 170px;
  /*Временно для сетки*/
  /*outline: 1px solid #FFDD00;*/
}

.hours-and-telephone p {
  padding: 0;
  margin: 0;
}

.user-navigation a {
  color: #ffffff;
  background-color: #a1b4a9;
  text-decoration: none;
}

.search-form input,
.login-form input {
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.search-form input:hover,
.login-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input:focus,
.login-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.opening-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.order-telephone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/*Промо каталога*/
.catalog-promo {
  /*Временно для сетки*/
  outline: 2px solid white;
}

.gllacy-hits-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /*Временно для сетки*/
  outline: 2px solid green;
}

.gllacy-hits-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Gllacy info*/
.gllacy-info {
  width: 1146px;
  padding-top: 6px;
  margin-bottom: 40px;
  /*Временно для сетки*/
  /*outline: 3px solid #005134;*/
  margin-top: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #323232;
  text-align: left;
  background-color: #ede1c4;
  background-image: url("../img/wafer.jpg");
  background-position: top center;
  background-repeat: repeat-repeat-x;
  border-radius: 15px;
}

.gllacy-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  /*Временно для сетки*/
  /*outline: 2px solid #FFDD00;*/
}

.gllacy-description {
  padding-left: 20px;
  /*outline: 1px solid #9C12CA;*/
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.gllacy-info-items {
  position: relative;
  width: 480px;
  padding: 0;
  padding-bottom: 25px;
  margin: 0;
  margin-left: 80px;
  /*Временно для сетки*/
  /*outline: 1px solid #021BD5;*/
}

.gllacy-info-items::before {
  position: absolute;
  content: "";
  width: 49px;
  height: 49px;
  top: -13px;
  left: -57px;
  /*outline: 1px solid red;*/
}

.icon-icecream::before {
  background-image: url(../img/icon-icecream.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-cow::before {
  background-image: url(../img/icon-cow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-leaf::before {
  background-image: url(../img/icon-leaf.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-termometr::before {
  background-image: url(../img/icon-termometr.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gllacy-blog {
  display: flex;
  width: 1146px;
  margin-bottom: 40px;
  /*Временно для сетки*/
  /*outline: 2px solid yellow;*/
}

.blog-news {
  padding-left: 20px;
  margin-right: 25px;
  width: 540px;
  color: #323232;
  white-space: ;
  background-image: url("../img/strawberry-background.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  /*Временно для сетки*/
  /*outline: 3px solid blue;*/
  border-radius: 15px;
}

.news-container {
  display: flex;
  flex-direction: column;
  width: 285px;
  padding-top: 6px;
  min-height: 215px;
}

.blog-news h3 {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.blog-news a {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #323232;
  background-color: #ffffff;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
  background-color: #ffffff;
}

.email-subscribing {
  background-image: url(../img/mail-background.svg);
  background-repeat: repeat;
  border-radius: 10px;
}

.subscribing-container {
  display: flex;
  flex-direction: column;
  min-width: 510px;
  width: 506px;
  padding: 30px 20px;
  margin: 5px;
  /*margin-top: 5px;*/
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribing-container p {
  padding: 0;
  margin: 0;
}

.newsletter-form input {
  box-sizing: border-box;
  min-width: 365px;
  height: 44px;
  padding: 10px 15px;
  margin-top: 38px;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.newsletter-form .button {
  padding: 10px 19px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FEFEFE;
  border-radius: 30px;
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.newsletter-form .button:hover {
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  box-shadow: 0 2px 0 0 #ac1000;
  opacity: 0.8;
}

.newsletter-form .button:active {
  background-image: linear-gradient(to right top, #f26843, #e74a35);
  opacity: 0.07;
  box-shadow: inset 0 -2px 0 0 #942718;
}

.newsletter-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.newsletter-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/*Стили для footer*/
.main-footer {
  color: #ffffff;
  /*временно для верстки*/
  outline: 2px solid black;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  /*временно для верстки*/
  outline: 3px solid red;
}

.footer-social {
  display: flex;
  align-items: center;
  width: 267px;
  padding: 0;
  margin: 0;
  /*временно для верстки*/
  outline: 2px solid yellow;
}

.social-button {
  display: flex;
  margin-left: 10px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-button path {
  fill: #e6ebe9;
}

.social-button:hover path {
  fill: #FFFFFF;
  transition: fill 1s;
}

.social-button:active path {
  fill: #E9E9E9;
}

.social-button:hover {
  border: 3px solid #dae2de;
  border-radius: 50%;
}

.social-button:active {
  border: 3px solid #dae2de;
  border-radius: 50%;
}

.footer-menu {
  display: flex;
  align-items: center;
  width: 560px;
  /*560*/
  margin: 0;
  padding: 0;
  padding-left: 140px;
  /*временно для верстки*/
  /*outline: 2px solid #A94000;*/
}

.footer-menu a {
  text-decoration: none;
  border-bottom: 1px solid #A1B5A9;
}

.for-suppliers {
  position: relative;
}

.for-suppliers::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -20px;
  width: 15px;
  height: 13px;
  background-image: url(../img/heart.svg);
  background-position: 0 0;
}

.first-column,
.second-column {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  outline: 1px solid yellow;
}

.first-column li,
.second-column li {
  padding: 0;
  margin: 0;
}

.footer-menu li,
.footer-menu a {
  margin: 0;
  padding: 0;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 267px;
  /*временно для верстки*/
  outline: 2px solid #A94000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.copyright-link {
  text-decoration: none;
  border-bottom: 1px solid #A1B5A9;
}

.copyright-link:hover {
  border-bottom: 1px solid #A7A294;
}

.footer-social li,
.footer-menu li {
  list-style: none;
}

.footer-menu {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-menu a {
  color: #ffffff;
  margin-left: 30px;
}

.footer-menu a:hover {
  color: #ffbc9e;
  border-bottom: 1px solid #A7A294;
}

.footer-menu a:active {
  color: #ffbc9e;
}

.footer-copyright {
  display: flex;
  width: 200px;
  outline: 1px solid blue;
}

.producing-info {
  align-self: flex-end;
}

.footer-copyright a {
  color: inherit;
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

/*Стили для формы обратной связи*/
.modal-feedback {
  width: 430px;
  margin: auto;
  padding: 20px 25px;
  background-color: #F8F7F4;
  border-radius: 10px;
}

.modal-feedback p {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #323232;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form button {
  padding: 10px 23px;
  margin-top: 20px;
  margin-bottom: 5px;
  align-self: flex-end;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  border-radius: 30px;
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.feedback-form .button:hover {
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  box-shadow: 0 2px 0 0 #ac1000;
  opacity: 0.8;
}

.feedback-form .button:active {
  background-image: linear-gradient(to right top, #f26843, #e74a35);
  opacity: 0.07;
  box-shadow: inset 0 -2px 0 0 #942718;
}

.feedback-form input {
  box-sizing: border-box;
  min-width: 265px;
  height: 44px;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-form textarea {
  min-width: 400px;
  height: 135px;
  /*min-height: 135px;*/
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 5px;
  resize: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.feedback-form textarea:hover {
  min-width: 398px;
  height: 133px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form textarea:focus {
  min-width: 398px;
  height: 133px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/*Стили страницы каталога*/
.site-navigation-current a {
  background-color: #d07058;
  border-radius: 20px;
  padding: 7px 14px;
  text-decoration: none;
}

.site-navigation-current a::after {
  display: none;
}

.search-form-container,
.login-form-container {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.price-for-kg span {
  color: #999999;
}

.cart-link {
  position: relative;
}

.cart-form {
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 1;
  padding: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  background-color: #F8F7F4;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.product-row {
  display: block;
  margin-bottom: 18px;
  /*outline: 1px solid blue;*/
}

.product-row td {
  /*outline: 1px solid red;*/
}

.product-row td:first-child {
  padding-right: 10px;
}

.product-row td:nth-child(2) {
  padding-right: 13px;
}

.product-row td:nth-child(3) {
  padding-right: 30px;
}

.product-row td:nth-child(4) {
  padding-right: 25px;
}

.product-row td:nth-child(5) {
  padding-right: 20px;
}

.cart-form .closing-button {
  position: relative;
  /*opacity: 0;*/
  /*display: none;*/
}

.cart-form .closing-button::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: -10px;
  left: 12px;
  width: 11px;
  height: 11px;
  background-image: url(../img/Хcross.svg);
}

.price-for-kg {
  color: #999999;
}

.form-container .button {
  align-self: flex-end;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FEFEFE;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.form-container .button:hover {
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  opacity: 0.8;
  box-shadow: 0 2px 0 0 #ac1000;
}

.form-container .button:active {
  background-image: linear-gradient(to right top, #f26843, #e74a35);
  opacity: 0.07;
  box-shadow: inset 0 -2px 0 0 #942718;
}

.cart-sum {
  align-self: flex-end;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.breadcrumps {
  display: flex;
  width: 267px;
  padding: 0;
  margin: 0;
  /*Временно для сетки*/
  outline: 1px solid #290C0C;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumps li {
  list-style: none;
  margin-right: 20px;
}

.breadcrumps a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #A1B5A9;
}

.breadcrumps a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #849D8F;
  z-index: 1;
  top: 0;
  right: -18px;
  box-shadow: 1px 1px 0 1px white;
  border-radius: 50px 0 0 0;
  transform: translateX(-5px) translateY(3px) rotate(-45deg) scale(0.35);
}

.breadcrumps a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #849D8F;
  z-index: 1;
  top: 0;
  right: -22px;
  box-shadow: 1px 1px 0 1px white;
  border-radius: 50px 0 0 0;
  transform: translateX(-5px) translateY(3px) rotate(-45deg) scale(0.35);
}

.breadcrumps a:hover,
.breadcrumps a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #A7A294;
}

.breadcrumps-current a {
  text-decoration: none;
}

.page-title {
  width: 560px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  /*Временно для сетки*/
  outline: 1px solid #FFDD00;
}

.catalog {
  margin-bottom: 50px;
  /*Временно для сетки*/
  outline: 2px solid yellow;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  /*Временно для сетки*/
  outline: 2px solid #290C0C;
}

.catalog-list li {
  list-style: none;
}

.catalog-item {
  display: flex;
  /*height: 405px;*/
  /*flex-direction: column;*/
  flex-wrap: wrap;
  width: 267px;
  margin-bottom: 40px;
  /*Временно для сетки*/
  outline: 2px solid #D0294A;
}

.catalog-item:hover {
  background-color: #9BAFA3;
  border-radius: 5px;
}

.catalog-item-link:hover {
  border-bottom: 1px solid #A7A294;
}

.catalog-item-button {
  display: none;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  background-image: linear-gradient(to right top, #e74a35, #f26843);
  border: none;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
  order: 1;
  margin-left: 35px;
}

.catalog-item:hover>.catalog-item-button {
  display: block;
}

.catalog-item img {
  border-radius: 50%;
}

.hit {
  position: relative;
}

.hit::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  border-radius: 50%;
}

.catalog-item h3 {
  order: 1;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  transform: translateY(-75px);
}

.catalog-item a {
  color: #ffffff;
}

.catalog-item a:hover,
.catalog-item a:active {
  color: #ffbc9e;
}

.catalog-item-link {
  text-decoration: none;
  border-bottom: 1px solid #A1B5A9;
}

.catalog-item-price {
  transform: translateY(-80px);
}

.catalog-item-price b {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
